server {
        listen 80 default_server;

        root {{ release_path }};
        index index.html index.htm;

        server_name localhost;

        location / {
                try_files $uri $uri/ =404;
        }
}
